{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Registration successfully completed</h1>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center lead">
                <i class="glyphicon glyphicon-check"></i>
                Your data stored successfully
            </div>
        </div>
    </div>
{% endblock %}